.sidebar {
  width: 150px;
  background-color: #000;
  height: 100vh;
  position: fixed;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}

.main-content {
  margin-left: 170px;
  padding: 20px;
}

.card {
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.status {
  color: rgb(12, 148, 12);
  font-size: 200%;
  text-align: center;
  margin-top: 20px;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.entry-icon {
  font-size: 24px;
  margin-right: 10px;
}

.navbar {
  background-color: black;
}

aside {
  background-color: black;
  position: fixed;
  height: 100vh;
}

.nav-item {
  margin-bottom: 22px;
}

/* Responsividad */
@media (max-width: 767px) {
  .navbar {
    background-color: #f0f0f0;
  }

  aside {
    display: none;
  }

  .navbar-bottom {
    display: flex;
  }

  main {
    margin-left: 0;
    margin-bottom: 55px;
  }

  .table-container {
    padding: 10px;
    font-size: 0.9rem;
  }

  .table {
    font-size: 0.8rem;
  }
  .title {
    font-size: 16px; /* Reducir el tamaño de la fuente para pantallas móviles */
  }
}

@media (min-width: 768px) {
  .navbar-bottom {
    display: none;
  }

  main {
    margin-left: 150px;
    margin-bottom: 0;
  }
}

main {
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 130%;
  font-weight: bold;
  min-height: calc(100vh - 56px);
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.table-header {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
}

.table-row {
  font-size: 1.1rem;
  text-align: center;
}

.btn-period,
.btn-mensual {
  background-color: #f8f7dc;
  color: black;
  font-weight: bold;
  border: 1px solid #dedcb9;
  border-radius: 5px;
  padding: 1px 5px;
}

.btn-period:hover,
.btn-mensual:hover {
  background-color: #dedcb9;
}

.estado-consumo {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.table-container {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.table-container table {
  width: 100%; /* Hace que la tabla ocupe el 100% del ancho del contenedor */
  table-layout: fixed; /* Fuerza que las celdas ocupen un ancho fijo */
}

.table-container td,
.table-container th {
  word-wrap: break-word; /* Permite que el texto se ajuste a múltiples líneas */
  white-space: normal; /* Evita que el contenido se mantenga en una sola línea */
}

  .container img {
    width: 150%; /* Aumentar el tamaño de la imagen ligeramente en pantallas móviles */
  }
}

